.head-name{
    position: relative;
    text-align: center;
    width:100%;
    height:100vh;
    background-image:url(../img/3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center bottom;
    background-attachment: fixed;
    /* display:none; */
}
.head-name h1{
    position:absolute;
    top:45%;
    width:100%;
    margin:0;
    color:white;
    font-size:100px;
    text-shadow:2px 4px 10px rgba(0,0,0,.2);
}
.head-name .down1{
    width:100%;
    display:inline-block;
    cursor: pointer;
    color:white;
    font-size:24px;
    text-shadow:2px 4px 10px rgba(0,0,0,.2);
    opacity: .8;
    position:absolute;
    bottom:0;
    left:0;
    line-height: 40px;
}
