/* 滚动条整体 */
*::-webkit-scrollbar{
    background:#eee;
    width:10px;
    /* border-radius:6px; */
}
/* 滚动条滑块 */
*::-webkit-scrollbar-thumb{
    background:#ddd;
    border-radius:6px;
}
*::-webkit-scrollbar-thumb:hover{
    background:#ccc;
}
body{
    overflow: hidden;
}
#div-body{
    width:100vw;
    height:100vh;
    padding-left:40px;
    /* background:#ddd; */
    /* background-image: linear-gradient(to right, #ccc, #fff, #fff , #fff); */
    
    overflow-x: hidden;
    overflow-y: hidden;
}

#nav-side{
    width:50px;
    overflow: hidden;
    height:100vh;
    background:white;
    transition:.3s;

    position: fixed;
    left:0;
    z-index:99;
    border-top-right-radius:10px;
    box-shadow:0 0 8px rgba(0,0,0,.4);
}
#nav-side:hover{
    width:160px;
}
#nav-side:hover>div.list-group>a.list-group-item{
    font-size:20px;
    padding-left:25px;
}

#nav-side>div.list-group{
    height:100%;
    overflow-x: hidden;
    overflow-y: overlay;
}
#nav-side>div.list-group>a.list-group-item{
    overflow: hidden;
    padding:13px 13px;
    width:200px;
    height:40px;
    background:none;
    border-radius:0;
    border:none;
    color:black;;
    transition:.3s;
    font-size:20px;
    height:50px;
}
#nav-side>div.list-group>a.list-group-item:hover{
    color:pink;
    transition:.3s;
}
#nav-side>div.list-group>a.list-group-item>span{
    margin-right:40px;
}
/* #nav-side:hover>div.list-group>a.list-group-item>span{
    margin-left:10px;
} */


.head-img{
    padding:13px 10px;
    transition:.3s;
}
.head-img>img{
    transition:.3s;
}
.head-img>img:hover{
    transform:rotateZ(360deg);
}
.head-img>h3{
    text-align: center;
    width:80px;
    height:0;
    margin:0;
    transition:.3s;
    overflow: hidden;
}
#nav-side:hover .head-img{
    padding:40px 40px;
}
#nav-side:hover .head-img>h3{
    display:block;
    text-align: center;
    height:26px;
    transition:.3s;
    margin-top:20px;
}

.loader{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    background:#00aeef;
    /* background:black; */
    width:100vw;
    height:100vh;
    z-index:999;
    
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}